


        
        <% include ./views/partials/messages %>
        <%=u[0].rev%>
        <% if(typeof u != 'undefined'){ %> <%
            u.forEach(function(u1) { %>
            <tr>
                <%if(u1.rev!=' '){%>
                <p><%=u1.name%></p>
                <p><%=u1.rev%></p>
                <%}%>
            </tr>
            <% }); %> <% } %>
